In [1]:
import pandas as pd

In [2]:
cd data

C:\Users\H P\Documents\utpl\ciclo6\practicum.2.2\picadas\data

In [111]:
registros = pd.read_csv("registros.csv", sep = ";")
jornadas = pd.read_csv("jornadas.csv", sep = ";")

In [112]:
j = jornadas[(jornadas["Jornada Matutina"]!='NO DECLARA') | (jornadas["Jornada Vespertina"]!='NO DECLARA')]

In [113]:
j.columns = ["id", "name", "jmor", "jaft"]

In [114]:
r = registros[registros["Cedula"].notna()].iloc[:-2 , :]
r = r[r["Apellidos y nombres"].notna()]
r = r[r["Fecha"].notna()]

In [115]:
r.columns = ["id", "name", "date", "mor_ent", "mor_lev", "aft_ent", "eft_lev", "hours_worked"]

In [264]:
m = r.merge(j)

In [117]:
import ipywidgets as widgets

In [265]:

op = [(d, d) for d in set(m["name"])]

In [266]:



teachers = widgets.Dropdown(
    options = op,
    value="AGUILAR CAMPOVERDE BEDER GONZALO",
    description='Profesores:',
)

teachers

Dropdown(description='Profesores:', index=22, options=(('ARMIJOS BUITRON VERONICA ALEXANDRA', 'ARMIJOS BUITRON…

'00'

In [255]:
th = m[m["name"]==teachers.value]

In [256]:
t = th[(th["aft_ent"].notna()) | (th["eft_lev"].notna())]

In [257]:
def sumar_tiempos(tiempo1):
    # Dividir el rango de tiempo en horas de inicio y fin
    inicio, fin = tiempo1.split('-')

    # Dividir las horas y los minutos
    hora_inicio, minuto_inicio = map(int, inicio.split(':'))
    hora_fin, minuto_fin = map(int, fin.split(':'))

    # Calcular la suma de horas y minutos
    suma_horas = hora_fin - hora_inicio
    suma_minutos = minuto_fin - minuto_inicio

    # Ajustar los minutos si son negativos y superan una hora
    if suma_minutos < 0:
        suma_horas -= 1
        suma_minutos += 60

    # Devolver el resultado como un valor decimal
    resultado1 = suma_horas + suma_minutos / 60
    
    
    
    return resultado1


li = []
def getHoraInicio(tiempo):
    inicio, fin = tiempo.split('-')

    # Dividir las horas y los minutos
    hora_inicio, minuto_inicio = map(int, inicio.split(':'))
    s = f"{hora_inicio}.{minuto_inicio}"
    li.append(float(s))

In [258]:
# !!!!!! WARNING !!!!!!!
# se añaden las nueva columnas,se calcula la hora como número
# t["jmor"].apply(getHoraInicio)
# t["ent_manana"] = li
list = []
for i in t["jmor"].to_list():
    p, s = i.split('-')
    
    h, mi = p.split(':')
    list.append(float(f"{h}.{mi}")+0.10)
    

t["ent_manana"] = list


list = []


for i in t["jaft"].to_list():
    p, s = i.split('-')
    
    h, mi = p.split(':')
    list.append(float(f"{h}.{mi}")+0.10)
    
    
t["ent_tard"] = list

C:\Users\H P\AppData\Local\Temp\ipykernel_11140\317731707.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t["ent_manana"] = list
C:\Users\H P\AppData\Local\Temp\ipykernel_11140\317731707.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t["ent_tard"] = list

In [259]:
list = []

for i in t["mor_ent"].to_list():
    h, mi = i.split(":")
    list.append(float(f"{h}.{mi}"))

t["hora_entro_manana"] = list        
    
list = []    
for i in t["aft_ent"].to_list():
    h, mi = i.split(":")
    list.append(float(f"{h}.{mi}"))    
    
t["hora_entro_tarde"] = list   

t

AttributeError: 'float' object has no attribute 'split'

In [251]:
# t.to_csv("data.csv")

In [253]:
d = t[["name", "ent_manana", "hora_entro_manana","ent_tard",  "hora_entro_tarde"]]
d[d["hora_entro_manana"]>d["ent_manana"]].drop(['ent_tard', 'hora_entro_tarde'], axis = 1)

                                name  ent_manana  hora_entro_manana
35  AGUILAR CAMPOVERDE BEDER GONZALO         8.1              12.41
40  AGUILAR CAMPOVERDE BEDER GONZALO         8.1               8.11
53  AGUILAR CAMPOVERDE BEDER GONZALO         8.1              13.03
71  AGUILAR CAMPOVERDE BEDER GONZALO         8.1              12.17

In [254]:
d[d["hora_entro_tarde"]>d["ent_tard"]][["name", "ent_tard", "hora_entro_tarde"]]

                                name  ent_tard  hora_entro_tarde
12  AGUILAR CAMPOVERDE BEDER GONZALO      15.1             18.04
22  AGUILAR CAMPOVERDE BEDER GONZALO      15.1             15.23
37  AGUILAR CAMPOVERDE BEDER GONZALO      15.1             15.13
38  AGUILAR CAMPOVERDE BEDER GONZALO      15.1             18.43
53  AGUILAR CAMPOVERDE BEDER GONZALO      15.1             15.12